

@using EComViewModels
@model ChekOutViewModel


@if (Model != null && Model.CartProducts != null && Model.ProductsID.Count > 0)
{
    var productQty = 0;

    <link href="~/Content/stylesheets/style.css" rel="stylesheet" />
    <script src="~/Content/javascript/main.js"></script>
    <div class="page-title parallax parallax1" style="background-position: 50% 63px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title-heading">
                        <h1 class="title">Checkout</h1>
                    </div><!-- /.page-title-heading -->
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="shop-3col.html">Shop</a></li>
                            <li><a href="shop-3col-slide.html">Slidebarshop</a></li>
                        </ul>
                    </div><!-- /.breadcrumbs -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-5 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted display-4">Your cart</span>
                </h4>
                <table class="list-group mb-3">
                    <thead>
                        <tr class="list-group-item d-flex justify-content-between lh-condensed">
                            <th>
                                <b>Product Name</b>
                            </th>
                            <th>
                                <b>Unit Price</b>
                            </th>
                            <th>
                                <b>Amount</b>
                            </th>
                            <th>
                                <b>Price</b>
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var product in Model.CartProducts)
                        {

                            var Amount = Model.ProductsID.Where(x => x == product.ID).Count();

                            productQty += Amount;

                            <tr class="list-group-item d-flex justify-content-between">
                                <td>
                                    <h6 class="my-0">@product.Name</h6>
                                    <small class="text-muted">@(product.Description.Length > 100 ? product.Description.Substring(0, 99) : product.Description)</small>
                                </td>
                                <td>
                                    @product.Price
                                </td>
                                <td>
                                    @Amount
                                </td>
                                <td>
                                    @(Amount * product.Price)
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr class="list-group-item d-flex justify-content-between">

                            <td>
                            </td>
                            <td>
                            </td>
                            <td class="ml-5">
                                <b>@(productQty)</b>

                            </td>

                            <td class="d-flex justify-content-between">
                                <b>
                                    $

                                    @Model.CartProducts.Sum(p => p.Price * Model.ProductsID.Where(productId => productId == p.ID).Count())
                                </b>
                            </td>

                        </tr>
                        <tr class=" d-flex justify-content-end">
                            <td>
                            </td>
                            <td>
                            </td>
                            <td class="text-center">

                                Qty
                            </td>

                            <td>/</td>
                            <td></td>
                            <td></td>
                            <td>/</td>
                            <td>

                                Total Price(USD)
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-md-7 order-md-1">
                <h4 class="mb-3 display-4">Billing address</h4>
                <form class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">First name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="@Model.user.FisrtName" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">Last name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="@Model.user.LastName" required>
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="username">Username</label>
                        <div class="input-group">
                            @*<div class="input-group-prepend">
                                    <span class="input-group-text">c</span>
                                </div>*@
                            <input type="text" class="form-control" id="username" placeholder="" value="@Model.user.UserName" required>
                            <div class="invalid-feedback">
                                Your username is required.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="email">Email <span class="text-muted">(Optional)</span></label>
                        <input type="email" class="form-control" id="email" placeholder="you@example.com" value="@Model.user.Email">
                        <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" placeholder="1234 Main St" value="@Model.user.Adresse" required>
                        <div class="invalid-feedback">
                            Please enter your shipping address.
                        </div>
                    </div>

                    @*<div class="row">
                            <div class="col-md-5 mb-3">
                                <label for="country">Country</label>
                                <select class="custom-select d-block w-100" id="country" required>
                                    <option value="">Choose...</option>
                                    <option>United States</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid country.
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="state">State</label>
                                <select class="custom-select d-block w-100" id="state" required>
                                    <option value="">Choose...</option>
                                    <option>California</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please provide a valid state.
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="zip">Zip</label>
                                <input type="text" class="form-control" id="zip" placeholder="" required>
                                <div class="invalid-feedback">
                                    Zip code required.
                                </div>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="same-address">
                            <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="save-info">
                            <label class="custom-control-label" for="save-info">Save this information for next time</label>
                        </div>
                        <hr class="mb-4">

                        <h4 class="mb-3">Payment</h4>

                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                                <label class="custom-control-label" for="credit">Credit card</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                                <label class="custom-control-label" for="debit">Debit card</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                                <label class="custom-control-label" for="paypal">PayPal</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="cc-name">Name on card</label>
                                <input type="text" class="form-control" id="cc-name" placeholder="" required>
                                <small class="text-muted">Full name as displayed on card</small>
                                <div class="invalid-feedback">
                                    Name on card is required
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="cc-number">Credit card number</label>
                                <input type="text" class="form-control" id="cc-number" placeholder="" required>
                                <div class="invalid-feedback">
                                    Credit card number is required
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="cc-expiration">Expiration</label>
                                <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                                <div class="invalid-feedback">
                                    Expiration date required
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="cc-cvv">CVV</label>
                                <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                                <div class="invalid-feedback">
                                    Security code required
                                </div>
                            </div>
                        </div>*@
                    <hr class="mb-4">
                    <button id="BtnPlaceOrder" class="btn btn-primary btn-lg btn-block" type="submit">Place Order</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        $("#BtnPlaceOrder").click(function () {
            
        $.ajax({
            url:'@Url.Action("PlaceOrder","Shop")',
            data: {
            productsId:'@string.Join("-", Model.ProductsID)'
            }

        }).done(function (Response) {
            if (Response.Success) {
                $.cookie('CartProducts', '', { pathe:'/' });
                swal("Done!", "Your Order under succesfily paced!", "success").then((value) => {
                    window.location = '@Url.Action("Index","Shop")';
                });

            }
            else {
              swal("Failed!", "Somthing does wrong,try again!","warning");
            }
        }).fail(function () {
            swal("Failed!", "Somthing does wrong,try again!","warning");
        });
    });
    </script>
}
else
{
    <div class="container pt-3">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-danger text-capitalize "> your card is empty </h1>
            </div>
        </div>
    </div>
}

