@model ECom.ViewModels.ProductsWidgetViewModel
@{
    var ImageUrlDefault = "/content/images/placeholder-image.png";

}

@if (Model != null && Model.products != null)
{
    if (!Model.isLatestProduct)
    {
    <ul class="flat-filter style-1 text-center max-width-682 clearfix">
        <li class="active"><a href="#" data-filter="*">All Product</a></li>
        @foreach (var category in Model.products.Select(x=>x.category).ToList().Distinct())
        {
            <li><a href="#" data-filter=".@category.Name.ToLower()">For @category.Name</a></li>

        }

    </ul>
        <div class="divider h54"></div>
    }


    <div class="product-content product-fourcolumn clearfix">
        <ul class="product style2 isotope-product clearfix">
            @foreach (var Product in Model.products)
            {
                var ImageUrl = !String.IsNullOrEmpty(Product.ImageURL) ? Product.ImageURL : ImageUrlDefault;

                <li class="product-item @Product.category.Name.ToLower()">
                    <div class="product-thumb clearfix">
                        <a href="@Url.Action("Details","Product",new {ID=Product.ID})" class="product-thumb">
                            <img src="@ImageUrl" alt="image" style="height:220px;width:280px;">
                        </a>
                        @if (Model.isLatestProduct)
                        {
                            <span class="new">New</span>
                        }

                    </div>
                    <div class="product-info text-center clearfix">
                        <span class="product-title">@Product.Name</span>
                        <div class="price">
                            <ins>
                                <span class="amount">$@Product.Price</span>
                            </ins>
                        </div>
                        <ul class="flat-color-list width-14">
                            <li>
                                <a href="#" class="red"></a>
                            </li>
                            <li>
                                <a href="#" class="blue"></a>
                            </li>
                            <li>
                                <a href="#" class="black"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="add-to-cart text-center">
                        <a  data-id="@Product.ID" class="AddToCart">ADD TO CART</a>
                    </div>
                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                </li>
            }
        </ul>

    </div>

}
